-var asks = depth[exchange].asks
-var bids = depth[exchange].bids

.row
  .col-xs-12
    a(id='#{exchange}')
      h4 #{exchange}
.row
  .col-xs-6
    .row
      .col-xs-12
        h5 Bids (#{bids.length})
    .row
      .col-xs-12
        table.table.table-striped.table-hover.table-bordered.sortable
          thead
            tr
              th Quantity
              th Price
          tbody
          -bids.forEach(function(bid){
            tr
              td #{bid[0]}
              td #{bid[1]}
          -});

  .col-xs-6
    .row
      .col-xs-12
        h5 Asks (#{asks.length})
    .row
      .col-xs-12
        table.table.table-striped.table-hover.table-bordered.sortable
          thead
            tr
              th Quantity
              th Price
          tbody
          -asks.forEach(function(ask){
            tr
              td #{ask[0]}
              td #{ask[1]}
          -});
  